@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.toggleMenuBg {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.container-card {
    perspective: 400px;
}

.card {
    transform-style: preserve-3d;
    transition: transform .5s;
}

/* .card:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
} */